.navbar
{
  height: 50px;
  background-color: #225582; 
  position: relative;
}
.col-12{
    height: 50px;
    padding-left: 0;
}
.sidenavmenu
{
  left: 0;
  margin-left: 0;
  padding-left:0;
  opacity: 0.5;
  border: solid 1px #194062;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #225582;
    height:50px;
}
li
{
float: left;
height: 50px;
width: 190px;

}
li a {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
}

li a:hover {
   border-radius: 1px;
   background-color: #194062;
   height: 50px;
}
li a:click
{
    opacity: 60%;
}
li a:active{
   background-color: #194062;
}

.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background: none;   
}

.hamburger:hover
{
    background-color: #194062;
}


.hamburger span {
  display: block;
  position: absolute;
  top: 26px;
  left: 22px;
  right: 22px;
  height: 2px;
  width: 14px;
  background: #ffffff;
}
 
.hamburger span::before,
.hamburger span::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  content: "";
}
 
.hamburger span::before {
  top: -5px;
}
 
.hamburger span::after {
  bottom: -5px;
}

.divider-vertical-left
{
   height: 50px;
   width: 2px;
   overflow: hidden;
   background-color: #194062;;
   border-right: 1px solid #194062;
}

.searchRectangle{
    background-color: #e66e25;
    width:180px;
    position: absolute;
    right:0;
    height:50px;
    font-size: 14px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;    
    text-decoration: none;
    border-radius: 0;
    display: inline-block;
    appearance: none;
    box-shadow: none;
    border: 0;
    outline: none;
}

.arrow{
  margin-right:10%;
  vertical-align:sub;
  
}
.buttonContent i
{
float: left;
}
.searchText{
  padding-top: 14px;
  padding-bottom:14px;
}

.col-left-0{
  padding-left:0px;
}

#stdNavBar {
  background-color: #fff;
  color: #000000;
  height:100%; /*100vh*/ /* 100% Full-height */
  z-index: 9999; /* Stay on top */
  position: fixed; /* Stay in place */
  /*transition: 0.5s;  0.5 second transition effect to slide in the sidenav */
}

.navigation-border {
  background-color: #fafafa;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.no-padding {
  padding: 0
}