#stdNavBarUl {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 3;
  font-weight: 400;
  list-style: none;
}

a {
  cursor: pointer;
}

.line {
  height: 2px;
  opacity: 0.52;
  border: solid 1px #cccccc;
}

.scrollable {
    overflow: auto;
}

.navigation {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #194062;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* Position and style the close button (top right corner) */
.wsCloseBtn {
    font-size: xx-large;
    float: left;
}

.shapeBtn {
    font-size: xx-large;
    float: right;
}
