
  <div>
    <div class="row">
      <div class="col-1 images">
        <a class="wsCloseBtn" onclick="closeNav()">
          <img src='../../images/delX_blue.png' alt="img_alt">
        </a>
      </div>
      <div class="navigation col-10">NAVIGATION</div>
      <div class="col-1 images">
        <a class="shapeBtn" onclick="togglePinNav()">
          <img src='../../images/delX_medDark.png'>
        </a>
      </div>
    </div>
    <div class="line"></div>
    <div class="scrollable" style="position: fixed">
      <div class="col-1"></div>
      <div class="col-11">
          <ul id="stdNavBarUl">
            <li>Menu Item 1</li>
            <li>Menu Item 2</li>
            <li>Menu Item 3</li>
            <li>Menu Item 4</li>
            <li>Menu Item 5</li>
            <li>Menu Item 6</li>
            <li>Menu Item 6</li>
            <li>Menu Item 6</li>
            <li>Menu Item 6</li>
            <li>Menu Item 6</li>
            <li>Menu Item 6</li>
            <li>Menu Item 6</li>
            <li>Menu Item 6</li>
            <li>Menu Item 6</li>
            <li>Menu Item 6</li>
            <li>Menu Item 6</li>
            <li>Menu Item 6</li>
            <li>Menu Item 6</li>
            <li>Menu Item 6</li>
            <li>Menu Item 999</li>
            <li>LAST Menu Item 6</li>
          </ul>
      </div>
    </div>
  </div>
 

